/* Light Theme */
.stApp {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* Sidebar */
[data-testid="stSidebar"] {
    background-color: #f9f9f9 !important;
    color: #000000 !important;
}

/* Buttons */
.stButton button {
    background-color: #f5341f !important;
    color: #ffffff !important;
    border-radius: 6px;
    padding: 0.6rem 1.2rem;
    border: none;
}
.stButton button:hover {
    background-color: #ac1a1a !important;
}

/* Inputs */
.stTextInput input {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ccc !important;
}

.main-header {
    font-size: 3rem;
    font-weight: bold;
    color: #1f77b4;  
    margin-bottom: 1rem;
}

.sub-header {
    font-size: 1.5rem;
    color: #666; 
    margin-bottom: 2rem;
}
